{% load static i18n cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="{% static 'https://www.googletagmanager.com/gtag/js?id=UA-165272044-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-165272044-2');
        </script>

		<!-- Title Tag  -->
		<title>{% block title %}This is my new project home page{% endblock title %}</title>

		<!-- Favicon -->
		<!-- <link rel="icon" type="image/favicon.png" href="{% static 'jks/img/favicon.png"> -->

        
		<!-- Web Font -->
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">


		<!-- Bizwheel Plugins CSS -->
		<link rel="stylesheet" href="{% static 'jks/css/animate.min.css' %}">
		<link rel="stylesheet" href="{% static 'jks/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'jks/css/cubeportfolio.min.css' %}">
		<link rel="stylesheet" href="{% static 'jks/css/font-awesome.css' %}">
		<link rel="stylesheet" href="{% static 'jks/css/jquery.fancybox.min.css' %}">
		<link rel="stylesheet" href="{% static 'jks/css/magnific-popup.min.css' %}">
		<link rel="stylesheet" href="{% static 'jks/css/owl-carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'jks/css/slicknav.min.css' %}">

		<!-- Bizwheel Stylesheet -->
		<link rel="stylesheet" href="{% static 'jks/css/reset.css' %}">
		<link rel="stylesheet" href="{% static 'jks/style.css' %}">
		<link rel="stylesheet" href="{% static 'jks/css/responsive.css' %}">

        {% render_block "css" %}
        
		<!-- Bizwheel Colors -->
        <!-- <link rel="stylesheet" href="{% static 'jks/css/skins/skin-1.css' %}"> -->
        <!--<link rel="stylesheet" href="{% static 'jks/css/skins/skin-2.css' %}">-->
		<!--<link rel="stylesheet" href="{% static 'jks/css/skins/skin-3.css' %}">-->
		<!--<link rel="stylesheet" href="{% static 'jks/css/skins/skin-4.css' %}">-->

		<!--[if lt IE 9]>
			<script src="{% static 'jks/https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="{% static 'jks/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body id="bg">
        {% cms_toolbar %}

		<!-- Boxed Layout -->
		<div id="page" class="site boxed-layout">

		<!-- Preloader -->
		<div class="preeloader">
			<div class="preloader-spinner"></div>
		</div>
		<!--/ End Preloader -->

		<!-- Header -->
		<header class="header">
			
			<!-- Middle Header -->
			<div class="middle-header">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="middle-inner">
								<div class="row">
									<div class="col-lg-2 col-md-3 col-12">
										<!-- Logo -->
										<div class="logo">
											<!-- Image Logo -->
											<div class="img-logo">
												<a href="{% static '/">
													<img src="{% static 'jks/img/logo1.png" alt="#">
												</a>
											</div>
										</div>
										<div class="mobile-nav"></div>
									</div>
									<div class="col-lg-10 col-md-9 col-12">
										<div class="menu-area">
											<!-- Main Menu -->
											<nav class="navbar navbar-expand-lg">
												<div class="navbar-collapse">
													<div class="nav-inner">
														<div class="menu-home-menu-container">
															<!-- Naviagiton -->
															<ul id="nav" class="nav main-menu menu navbar-nav">
																{% with dropdown=True %}
                                                                    {% show_menu 0 100 100 100 "jks/includes/menu.html" %}
                                                                {% endwith %}
															</ul>
															<!--/ End Naviagiton -->
														</div>
													</div>
												</div>
											</nav>
											<!--/ End Main Menu -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Middle Header -->
		</header>
		<!--/ End Header -->

        <div class="main-container">
            {% block content %}{% endblock content %}
        </div>
		
        <!-- Footer -->
        {% static_placeholder "footer" or %} @Copyright - JK Sikhs Teams{% endstatic_placeholder %}

		<!-- Jquery JS -->
		<script src="{% static 'jks/js/jquery.min.js' %}"></script>
		<script src="{% static 'jks/js/jquery-migrate-3.0.0.js' %}"></script>
		<!-- Popper JS -->
		<script src="{% static 'jks/js/popper.min.js' %}"></script>
		<!-- Bootstrap JS -->
		<script src="{% static 'jks/js/bootstrap.min.js' %}"></script>
		<!-- Modernizr JS -->
		<script src="{% static 'jks/js/modernizr.min.js' %}"></script>
		<!-- ScrollUp JS -->
		<script src="{% static 'jks/js/scrollup.js' %}"></script>
		<!-- FacnyBox JS -->
		<script src="{% static 'jks/js/jquery-fancybox.min.js' %}"></script>
		<!-- Cube Portfolio JS -->
		<script src="{% static 'jks/js/cubeportfolio.min.js' %}"></script>
		<!-- Slick Nav JS -->
		<script src="{% static 'jks/js/slicknav.min.js' %}"></script>
		<!-- Slick Nav JS -->
		<script src="{% static 'jks/js/slicknav.min.js' %}"></script>
		<!-- Slick Slider JS -->
		<script src="{% static 'jks/js/owl-carousel.min.js' %}"></script>
		<!-- Easing JS -->
		<script src="{% static 'jks/js/easing.js' %}"></script>
		<!-- Magnipic Popup JS -->
		<script src="{% static 'jks/js/magnific-popup.min.js' %}"></script>
		<!-- Active JS -->
        <script src="{% static 'jks/js/active.js' %}"></script>
        
        {% render_block "js" %}
	</body>
</html>
