{% load menu_tags %}

{% for child in children %}
    <li class="nav-item {% if child.children and dropdown %}dropdown icon-dropdown{% endif %}{% if child.selected %} active{% endif %}">
        <a
            class="nav-link{% if child.children and dropdown %} dropdown-toggle{% endif %}"
            {% if child.children and dropdown %}
                data-toggle="dropdown"
                id="dropdown-{{ child.get_menu_title|slugify }}"
                href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
            {% else %}
                href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
            {% endif %}
            >
            {{ child.get_menu_title }}
        </a>
        {% if child.children and dropdown %}
            <ul class="sub-menu" aria-labelledby="dropdown-{{ child.get_menu_title|slugify }}">
                {% show_menu from_level to_level extra_inactive extra_active "jks/includes/dropdown.html" "" "" child %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
<li class="nav-item">
  <form method="get" action="https://www.google.com/search">
    <div style="padding:4px;" role="search" class="td-head-form-search-wrap">
      <input id="td-header-search" type="text" name="q" size="25" style="color:#808080;"
        maxlength="255" autocomplete="off" value="Search jksikhs.com"
        onfocus="if(this.value==this.defaultValue)this.value=''; this.style.color='black';" onblur="if(this.value=='')this.value=this.defaultValue; "/>
        <input class="wpb_button wpb_btn-inverse btn" type="submit" id="td-header-search-top" value="Go!" />
        <input type="hidden" name="sitesearch" value="jksikhs.com" />
      </div>
    </form>
</li>
