/* author: Gurjeet Singh. */
.header .nav-inner {
    margin-right: 10px!important ;
}

.header .img-logo {
    margin-top: 0px;
}

.header .nav li {
    margin-right: 15px;
}

.header .nav li a::before {
    background: #f3a712;
}

.header .nav li.active a,
.header .nav li:hover a{
	color:#f3a712;
}

.header .nav li .sub-menu li:hover a{
	background:#f3a712;
}

.breadcrumbs {
    padding: 20px;
}

@media screen and (max-width: 991px) {
     /* start of large tablet styles */
    .img-responsive {
       max-width: 80%;
    }
}

@media screen and (max-width: 767px) {
     /* start of medium tablet styles */
     /* Adding a fixed/percentage max-width could ensure that the image doesn't get too small */
     .img-responsive {
       max-width: 50%;
     }
}

@media screen and (max-width: 479px) {
     /* start of phone styles */
     /* It's possible to hide the image if the screen becomes too small */
    .img-responsive {
       max-width: 30%;
     }
}