/* author: Gurjeet Singh. */
.header .nav-inner {
    margin-right: 10px!important    ;
}

.header .img-logo {
    margin-top: 2px;
}


.header .nav li {
    margin-right: 10px;
}

.header .nav li a::before {
    background: #f3a712;
}

.header .nav li.active a,
.header .nav li:hover a{
	color:#f3a712;
}

.header .nav li .sub-menu li:hover a{
	background:#f3a712;
}