{% extends "jks/base.html" %}
{% load cms_tags %}

{% block header %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <div class="bread-title">
                            {% placeholder "Header" or %}
                                <h3>{% page_attribute "page_title" %}</h3>
                            {% endplaceholder %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock header %}

{% block content %}    
    <section class="section-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    {% placeholder "primary" or %}
                    {% endplaceholder %}                 
                </div>
            </div>
        </div>
    </section>
    <section class="section-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    {% placeholder "Secondary" or %}
                    {% endplaceholder %}                 
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% static_placeholder "footer" %}